.data-currency::before {
    content:'$ '    
}
.data-currency{
    border-left: 1px solid grey;
}
body {
    background-color: rgb(59, 59, 235);
}
table {
    border-spacing: 0;
    margin: 0px auto;
}
td,
tr {
    width: 200px;
    height: 40px;
    padding: 0 10px;
    border-bottom: 1px solid grey;
}
th {
    border-bottom:  1px solid grey;
    background-color: rgb(37, 35, 35);
    color:whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    height: 50px;
    text-align: left;
    width: 200px;
    padding: 0 10px;
}
.january,
.march,
.may {
    background-color: lightgrey;
}
.february,
.april{
    background-color: rgb(180, 160, 160);
}

.month{
    border-right: 1px solid grey;
    border-radius: 5px 0 0 0;
}
.sales{
    border-radius: 0 5px 0 0;
}
.may-cell{
    border-radius: 0 0 0 5px;
}
.last-cell{
    border-radius: 0 0 5px 0;
}


