.post-container {
  margin:auto;
  width: 50%;
  border-bottom: 2px solid rgb(218, 200, 200);
  display: grid;
  grid-template-columns: 10% 85%;
}

.specific-post-container{
  padding: 0 20px;
}

.links-to-modify-delete {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}