body {
    background-color: turquoise;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    height: 50px;
    width: 500px;
}
.btn {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
}
.btn:hover{
    background-color: lightblue;
    box-shadow: 1px 2px rgb(100, 200, 233);
    
}
.btn:active{
    background-color: darkblue;
    box-shadow: 1px 2px rgb(37, 37, 172);
}
.btn_blue {
    background-color: blue;
    color: whitesmoke;
    box-shadow: 1px 2px rgb(55, 55, 184);
}
.btn_green{
    background-color: green;
    color: whitesmoke;
    box-shadow: 1px 2px rgb(48, 156, 48);
}
.btn_white{
    background-color: whitesmoke;
    box-shadow: 1px 2px rgb(197, 181, 181);
} 