.add-post-container{
  background-color: rgb(236, 236, 236);
  width: 50%;
  margin: 15px auto;
  height: 250px;
  display: flex;
  flex-direction: column;
}

.add-post-container > input , textarea {
  height: 30px;
  width: 90%;
  margin: 0% 5%;
  font-size: 20px;
}

.add-post-container > label {
  font-weight: 600;
  font-size: 20px;
  margin: 2% 5%;
}

.add-post-submit-btn{
  width: 50%;
  margin-left: 25%;
  background-color: rgba(64, 135, 230, 0.671);
  color: rgba(255, 255, 255, 0.993);
  font-size: 20px;
  font-weight: 600;
}