*{
  box-sizing: border-box;
}

body {
  background-color: rgb(35, 163, 236);
}

.container{
  border: 2px solid black;
  border-radius: 10px;
  margin: 50px auto;
  padding: 20px;
  width: 550px;
  height: 360px;
  background-color: rgb(92, 92, 245);
}

.container label {
  color: rgb(243, 221, 221);
  font-size: 20px;
  font-weight: 500;
  padding-left: 7px;
}

.container input {
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  height: 35px;
  margin: 10px 0;
  outline: none;
}

.container input:focus {
 border: 3px solid rgb(5, 5, 233);
 border-radius: 10px;
}

.container button {
  background-color: rgb(69, 14, 170);
  color: rgb(243, 243, 243);
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 50px;
  margin: 10px;
  font-size: 17px;
}
