<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/detailed_style.css">
    <title>Weather</title>
</head>

<body>
    <% for (let i=0; i < specificCity[0].idojaras.length; i++){ %>
        <div class="container">
            <img src="static/<%= specificCity[0].idojaras[i].icon%>.png ">
            <div>
                <%= specificCity[0].idojaras[i].homerseklet %>
            </div>
            <div>
                <%= specificCity[0].idojaras[i].uzenet %>
            </div>
        </div>
        <% } %>
</body>

</html>