.boxes {
  display: grid;
  grid-template-columns: 1fr 60% 1fr;
  height: 200px;
  width: 100%;
}

.yellow-box {
  border: 10px solid rgb(175, 44, 175);;
  background-color: rgb(209, 209, 53);
}

.green-box{
  border-top: 10px solid rgb(175, 44, 175);
  border-bottom: 10px solid rgb(175, 44, 175);
  background-color: rgb(71, 212, 71);
}

p{
  text-align: center;
  font-size: 30px;
  color: white;
  padding-top: 50px;
}