body {
    box-sizing: border-box;
}
.container {
    display: flex;
    width: 800px;
}
.item {
    width: 200px;
    height: 200px;
}
.green {
    background-color: green;
}
.yellow {
    background-color: yellow;
    flex-grow: 1;
}
.purple {
    background-color: purple;
}