.container {
    display: flex;
    margin:0;
}
.item {
    display: inline-block;
    width: 200px;
    height: 200px;
}
.green {
    background-color: green;
}
.yellow {
    background-color: yellow;
    flex-grow: 1;
}
.purple {
    background-color: purple;
}
@media screen and (max-width: 768px){
    .container {
       display: flex;
       flex-direction: column;
    }
    .item{
        width: 100%;
    }
}