<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cocktails</title>
</head>
<body>
    <h1><%= title %></h1>
    <ul>
        <% for (let i = 0; i < alcoholList.length ; i++) { %>
            <li>
                <%= alcoholList[i] %>
            </li>
            <% } %>
    </ul>
    <ul>
        <% for (let i = 0; i < cocktails.length ; i++) { %>
            <li>
                <%= cocktails[i].name %>
            </li>
            <% } %>
    </ul>
</body>
</html>